body {
    background: rgb(2, 0, 36);
    background: radial-gradient(
      circle,
      rgba(2, 0, 36, 1) 0%,
      rgba(30, 54, 59, 1) 0%,
      rgba(93, 93, 116, 1) 100%
    );
  }
/*   
  .container1 {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 500px;
    width: 100%;

    margin: auto;
  }
  .container1 > form {
    width: 200%;
    border: 1px solid green;
    padding: 20px;
    height: 500px;
    border-radius: 5px;
    background: darkcyan;
  }
  
  h1 {
    text-align: center;
  }
  label{
    cursor: pointer;
    display: inline-block;
    padding: 3px 6px;
    text-align: right;
    width: 150px;
    vertical-align: top;
}
  button {
    background:darkslateblue !important;
  }
  p {
    color: red;
    padding: 10px;
  }
   */